html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 0 auto;
}

.navbar {
  background-color: #27313c;
  flex: 0 0 auto;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link:hover {
  color: #87cefa;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#avatar-col {
  width: 30%;
  height: 100%;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar-col img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
  border-radius: 50%;
  object-fit: cover;
}

#self-intro-col {
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  padding: 150px 150px 0;
}

#self-intro-col p,
h1 {
  align-items: center;
  text-align: center;
}

#self-intro-col li {
  font-size: 1.5em;
}

#course-table-container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
